# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Test cache
.pytest_cache/

# Virtual environments
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
